.background {
  background-image: url("../../../assets/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 420px) {
  .background {
    height: 160px;
  }
}

.password-form-control {
  position: relative;
}
.password-form-control input {
  padding-right: 2.75rem;
}

.password-form-control .password-form-control__toggle {
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  width: 2.375rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ced4da;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
