.background {
  background-image: url("../../../assets/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 420px) {
  .background {
    height: 160px;
  }

}
