.image {
    max-height: 520px;
    min-width: 340px;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 420px) {
    .image {
        max-height: 550px;
        min-width: 120%;
    }
  }
  