.ModalContainer{
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
	background-color: #00000080;
	transition: all 0.5s ease;
	z-index: 1000;
}

.activeModal{
	opacity: 1;
	pointer-events: all;
}

.modalContent{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	min-height: 85vh;
	width: 	90%;
	background-color: #fff;
	max-width: 	500px;
	max-height: 700px;
	display: 	flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	border-radius: 8px;
}

.modalContent img{
	width: 	80%;
	max-width: 180px;
}

.modalContent h2{
	font-size: 	22px;
	margin-top: 20px;
	margin-bottom: 	20px !important;
}

.modalContent p{
	font-size: 	14px;
	text-align: center;	
	color: #333;
	max-width: 70%;
}

.inputGroup{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.inputGroupInner{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inputGroupInner span{
	font-size: 12px;
	margin-bottom: 5px;
}


.inputGroupInner:first-of-type input{
	margin: 0; 
	width: 100px;
}
.inputGroupInner:last-of-type input{
	margin-right: 0; 
}
.inputGroupInner:nth-child(2) input{
	margin-right: 0;
}

.error{
	font-size: 12px;
	margin: 10px 0;
	color: #b1191760;
}

.inputGroupInner input{
	height: 56px;
	border: 2px  solid #333;
	text-align: center;
	width: 80px;
	margin: 0 20px;
}


.btn{
	height: 46px;
	border: none;
	background-color: #b11917;
	color: #fff;
	width: 130px;
	border-radius: 8px;
	margin: 20px 0 ;
	padding: 10px 0;
}


.tandc{
	margin: 20px 0 0;
}

@media (max-width: 768px){
	.inputGroupInner:first-of-type input{
		width: 70px;
	}
	.inputGroupInner input{
		width: 60px;
		height:  40px;
	}

	.modalContent img{
		max-width: 150px;
	}

	.modalContent h2{
		font-size: 	18px;
		margin-top: 10px;
		margin-bottom: 	10px !important;
	}

	.modalContent p{
		font-size: 	12px;
		text-align: center;	
		color: #333;
		max-width: unset;
		margin: 10px 0;
	}
}
